{% if stunnel_config_options.chroot is defined %}
chroot = {{stunnel_config_options.chroot}}
{% endif %}

{% if stunnel_config_options.compression is defined %}
compression = {{stunnel_config_options.compression}}
{% endif %}

{% if stunnel_config.options.debug is defined %}
debug = {{stunnel_config_options.debug}}
{% endif %}

{% if stunnel_config.options.EGD is defined %}
EGD = {{stunnel_config_options.EGD}}
{% endif %}

{% if stunnel_config.options.engine is defined %}
engine = {{stunnel_config_options.engine}}
{% endif %}

{% if stunnel_config.options.engineCtrl is defined %}
{% for c in stunnel_config.options.engineCtrl %}
engineCtrl = {{c}}
{% endfor %}
{% endif %}

{% if stunnel_config.options.engineDefault is defined %}
engineDefault = {{stunnel_config_options.engineDefault}}
{% endif %}

{% if stunnel_config.options.fips is defined %}
fips = {{stunnel_config_options.fips}}
{% endif %}

{% if stunnel_config.options.foreground is defined %}
foreground = {{stunnel_config_options.foreground}}
{% endif %}

{% if stunnel_config.options.log is defined %}
log = {{stunnel_config_options.log}}
{% endif %}

{% if stunnel_config.options.output is defined %}
output = {{stunnel_config_options.output}}
{% endif %}

{% if stunnel_config.options.pid is defined %}
pid = {{stunnel_config_options.pid}}
{% endif %}

{% if stunnel_config.options.RNGbytes is defined %}
RNGbytes = {{stunnel_config_options.RNGbytes}}
{% endif %}

{% if stunnel_config.options.RNDfile is defined %}
RNDfile = {{stunnel_config_options.RNDfile}}
{% endif %}

{% if stunnel_config.options.RNDoverwrite is defined %}
RNDoverwrite = {{stunnel_config_options.RNDoverwrite}}
{% endif %}

{% if stunnel_config.options.service is defined %}
service = {{stunnel_config_options.service}}
{% endif %}

{% if stunnel_config.options.socket is defined %}
{% for s in stunnel_config.options.socket %}
socket = {{s}}
{% endfor %}
{% endif %}

{% if stunnel_config.options.syslog is defined %}
syslog = {{stunnel_config_options.syslog}}
{% endif %}

{% for app in stunnel_config_apps %}
[{{app.name}}]
key = {{app.secrets_dir}}/{{app.keyname|default('tls.key')}}
cert = {{app.secrets_dir}}/{{app.certname|default('tls.crt')}}

{% if app.mode is defined %}
{% if app.mode == 'server' %}
server = yes
{% elif app.mode == 'client' %}
client = yes
{% endif %}
{% endif %}

{% if app.accept.ty == 'ip' %}
accept={{app.accept.bind}}:{{app.accept.port}}
{% elif app.accept.ty == 'unix' %}
accept={{app.accept.socket}}
{% endif %}

{% if app.connect.ty == 'ip' %}
connect={{app.connect.host}}:{{app.connect.port}}
{% elif app.connect.ty == 'unix' %}
connect={{app.connect.socket}}
{% endif %}

{% if app.CApath is defined %}
CApath = {{app.CApath}}
{% endif %}

{% if app.CAfile is defined %}
CAfile = {{app.CAfile}}
{% endif %}

{% if app.CRLpath is defined %}
CRLpath = {{app.CRLpath}}
{% endif %}

{% if app.CRLfile is defined %}
CRLfile = {{app.CRLfile}}
{% endif %}

{% if app.checkEmail is defined %}
checkEmail = {{app.checkEmail}}
{% endif %}

{% if app.checkHost is defined %}
checkHost = {{app.checkHost}}
{% endif %}

{% if app.checkIP is defined %}
checkIP = {{app.checkIP}}
{% endif %}

{% if app.ciphers is defined %}
ciphers = {{app.ciphers}}
{% endif %}

{% if app.config is defined %}
{% for c in app.config %}
config = {{c}}
{% endfor %}
{% endif %}

{% if app.curve is defined %}
curve = {{app.curve}}
{% endif %}

{% if app.logId is defined %}
logId = {{app.logId}}
{% endif %}

{% if app.debug is defined %}
debug = {{app.debug}}
{% endif %}

{% if app.delay is defined %}
delay = {{app.delay}}
{% endif %}

{% if app.engineId is defined %}
engineId = {{app.engineId}}
{% endif %}

{% if app.engineNum is defined %}
engineNum = {{app.engineNum}}
{% endif %}

{% if app.exec is defined %}
exec = {{app.exec}}
{% endif %}

{% if app.execArgs is defined %}
execArgs = {{app.execArgs}}
{% endif %}

{% if app.failover is defined %}
failover = {{app.failover}}
{% endif %}

{% if app.ident is defined %}
ident = {{app.ident}}
{% endif %}

{% if app.libwrap is defined %}
libwrap = {{app.libwrap}}
{% endif %}

{% if app.local is defined %}
local = {{app.local}}
{% endif %}

{% if app.OCSP is defined %}
OCSP = {{app.OCSP}}
{% endif %}

{% if app.OCSPaia is defined %}
OCSPaia = {{app.OCSPaia}}
{% endif %}

{% if app.OCSPflag is defined %}
OCSPflag = {{app.OCSPflag}}
{% endif %}

{% if app.OCSPnonce is defined %}
OCSPnonce = {{app.OCSPnonce}}
{% endif %}

{% if app.options is defined %}
{% for o in app.options %}
options = {{o}}
{% endfor %}
{% endif %}

{% if app.protocol is defined %}
protocol = {{app.protocol}}
{% endif %}

{% if app.protocolAuthentication is defined %}
protocolAuthentication = {{app.protocolAuthentication}}
{% endif %}

{% if app.protocolDomain is defined %}
protocolDomain = {{app.protocolDomain}}
{% endif %}

{% if app.protocolPassword is defined %}
protocolPassword = {{app.protocolPassword}}
{% endif %}

{% if app.protocolUsername is defined %}
protocolUsername = {{app.protocolUsername}}
{% endif %}

{% if app.PSKidentity is defined %}
PSKidentity = {{app.PSKidentity}}
{% endif %}

{% if app.PSKsecrets is defined %}
PSKsecrets = {{app.PSKsecrets}}
{% endif %}

{% if app.pty is defined %}
pty = {{app.pty}}
{% endif %}

{% if app.redirect is defined %}
redirect = {{app.redirect}}
{% endif %}

{% if app.renegotiation is defined %}
renegotiation = {{app.renegotiation}}
{% endif %}

{% if app.reset is defined %}
reset = {{app.reset}}
{% endif %}

{% if app.retry is defined %}
retry = {{app.retry}}
{% endif %}

{% if app.requireCert is defined %}
requireCert = {{app.requireCert}}
{% endif %}

{% if app.setgid is defined %}
setgid = {{app.setgid}}
{% endif %}

{% if app.setuid is defined %}
setuid = {{app.setuid}}
{% endif %}

{% if app.sessionCacheSize is defined %}
sessionCacheSize = {{app.sessionCacheSize}}
{% endif %}

{% if app.sessiond is defined %}
sessiond = {{app.sessiond}}
{% endif %}

{% if app.sni is defined %}
sni = {{app.sni}}
{% endif %}

{% if app.sslVersion is defined %}
sslVersion = {{app.sslVersion}}
{% endif %}

{% if app.stack is defined %}
stack = {{app.stack}}
{% endif %}

{% if app.TIMEOUTbusy is defined %}
TIMEOUTbusy = {{app.TIMEOUTbusy}}
{% endif %}

{% if app.TIMEOUTclose is defined %}
TIMEOUTclose = {{app.TIMEOUTclose}}
{% endif %}

{% if app.TIMEOUTconnect is defined %}
TIMEOUTconnect = {{app.TIMEOUTconnect}}
{% endif %}

{% if app.TIMEOUTidle is defined %}
TIMEOUTidle = {{app.TIMEOUTidle}}
{% endif %}

{% if app.transparent is defined %}
transparent = {{app.transparent}}
{% endif %}

{% if app.verifyChain is defined %}
verifyChain = {{app.verifyChain}}
{% endif %}

{% if app.verifyPeer is defined %}
verifyPeer = {{app.verifyPeer}}
{% endif %}

{% endfor %}