[{{stunnel_app_name}}]
key = {{stunnel_app_secrets_dir}}/{{stunnel_app_keyname}}
cert = {{stunnel_app_secrets_dir}}/{{stunnel_app_certname}}

{% if stunnel_app_mode is defined %}
{% if stunnel_app_mode == 'server' %}
server = yes
{% elif stunnel_app_mode == 'client' %}
client = yes
{% endif %}

{% if stunnel_accept.ty == 'ip' %}
accept={{stunnel_app_accept.bind}}:{{stunnel_app_accept.port}}
{% elif stunnel_app_accept.ty == 'unix' %}
accept={{stunnel_app_accept.socket}}
{% endif %}

{% if stunnel_app_connect.ty == 'ip' %}
connect={{stunnel_app_connect.host}}:{{stunnel_app_connect.port}}
{% elif stunnel_app_connect.ty == 'unix' %}
connect={{stunnel_app_connect.socket}}
{% endif %}
