{% if 'chroot' in stunnel_config_options %}
chroot = {{ stunnel_config_options.chroot }}
{% endif %}

{% if 'compression' in stunnel_config_options %}
compression = {{ stunnel_config_options.compression }}
{% endif %}

{% if 'debug' in stunnel_config_options %}
debug = {{ stunnel_config_options.debug }}
{% endif %}

{% if 'EGD' in stunnel_config_options %}
EGD = {{ stunnel_config_options.EGD }}
{% endif %}

{% if 'engine' in stunnel_config_options %}
engine = {{ stunnel_config_options.engine }}
{% endif %}

{% if 'engineCtrl' in stunnel_config_options %}
{% for c in stunnel_config_options.engineCtrl %}
engineCtrl = {{ c }}
{% endfor %}
{% endif %}

{% if 'engineDefault' in stunnel_config_options %}
engineDefault = {{ stunnel_config_options.engineDefault }}
{% endif %}

{% if 'fips' in stunnel_config_options %}
fips = {{ stunnel_config_options.fips }}
{% endif %}

{% if 'foreground' in stunnel_config_options %}
foreground = {{stunnel_config_options.foreground}}
{% endif %}

{% if 'log' in stunnel_config_options %}
log = {{ stunnel_config_options.log }}
{% endif %}

{% if 'output' in stunnel_config_options %}
output = {{ stunnel_config_options.output }}
{% endif %}

{% if 'pid' in stunnel_config_options %}
pid = {{ stunnel_config_options.pid }}
{% endif %}

{% if 'RNGbyptes' in stunnel_config_options %}
RNGbytes = {{ stunnel_config_options.RNGbytes }}
{% endif %}

{% if 'RNDfile' in stunnel_config_options %}
RNDfile = {{ stunnel_config_options.RNDfile }}
{% endif %}

{% if 'RNDoverwrite' in stunnel_config_options %}
RNDoverwrite = {{stunnel_config_options.RNDoverwrite}}
{% endif %}

{% if 'service' in stunnel_config_options %}
service = {{ stunnel_config_options.service }}
{% endif %}

{% if 'socket' in stunnel_config_options %}
{% for s in stunnel_config_options.socket %}
socket = {{ s }}
{% endfor %}
{% endif %}

{% if 'syslog' in stunnel_config_options %}
syslog = {{ stunnel_config_options.syslog }}
{% endif %}

{% for app in stunnel_config_apps | default([]) %}
[{{ app.name }}]
key = {{ app.secrets_dir }}/{{ app.keyname | default('tls.key') }}
cert = {{ app.secrets_dir }}/{{ app.certname | default('tls.crt') }}

{% if 'mode' in app %}
{% if app.mode == 'server' %}
server = yes
{% elif app.mode == 'client' %}
client = yes
{% endif %}
{% endif %}

{% if app.accept.ty == 'ip' %}
accept={{ app.accept.bind }}:{{ app.accept.port }}
{% elif app.accept.ty == 'unix' %}
accept={{ app.accept.socket }}
{% endif %}

{% if app.connect.ty == 'ip' %}
connect={{ app.connect.host }}:{{ app.connect.port }}
{% elif app.connect.ty == 'unix' %}
connect={{ app.connect.socket }}
{% endif %}

{% if 'CApath' in app %}
CApath = {{ app.CApath }}
{% endif %}

{% if 'CAfile' in app %}
CAfile = {{ app.CAfile }}
{% endif %}

{% if 'CRLpath' in app %}
CRLpath = {{ app.CRLpath }}
{% endif %}

{% if 'CRLfile' in app %}
CRLfile = {{ app.CRLfile }}
{% endif %}

{% if 'checkEmail' in app %}
checkEmail = {{ app.checkEmail }}
{% endif %}

{% if 'checkHost' in app %}
checkHost = {{ app.checkHost }}
{% endif %}

{% if 'checkIP' in app %}
checkIP = {{ app.checkIP }}
{% endif %}

{% if 'ciphers' in app %}
ciphers = {{ app.ciphers }}
{% endif %}

{% if 'config' in app %}
{% for c in app.config %}
config = {{ c }}
{% endfor %}
{% endif %}

{% if 'curve' in app %}
curve = {{ app.curve }}
{% endif %}

{% if 'logId' in app %}
logId = {{ app.logId }}
{% endif %}

{% if 'debug' in app %}
debug = {{ app.debug }}
{% endif %}

{% if 'delay' in app %}
delay = {{ app.delay }}
{% endif %}

{% if 'engineId' in app %}
engineId = {{ app.engineId }}
{% endif %}

{% if 'engineNum' in app %}
engineNum = {{ app.engineNum }}
{% endif %}

{% if 'exec' in app %}
exec = {{ app.exec }}
{% endif %}

{% if 'execArgs' in app %}
execArgs = {{ app.execArgs }}
{% endif %}

{% if 'failover' in app %}
failover = {{app.failover}}
{% endif %}

{% if 'ident' in app %}
ident = {{ app.ident }}
{% endif %}

{% if 'libwrap' in app %}
libwrap = {{ app.libwrap }}
{% endif %}

{% if 'local' in app %}
local = {{ app.local }}
{% endif %}

{% if 'OCSP' in app %}
OCSP = {{ app.OCSP }}
{% endif %}

{% if 'OCSPaia' in app %}
OCSPaia = {{ app.OCSPaia }}
{% endif %}

{% if 'OCSPflag' in app %}
OCSPflag = {{ app.OCSPflag }}
{% endif %}

{% if 'OCSPnonce' in app %}
OCSPnonce = {{ app.OCSPnonce }}
{% endif %}

{% if 'options' in app %}
{% for o in app.options %}
options = {{ o }}
{% endfor %}
{% endif %}

{% if 'protocol' in app %}
protocol = {{ app.protocol }}
{% endif %}

{% if 'protocolAuthentication' in app %}
protocolAuthentication = {{ app.protocolAuthentication }}
{% endif %}

{% if 'protocolDomain' in app %}
protocolDomain = {{ app.protocolDomain }}
{% endif %}

{% if 'protocolPassword' in app %}
protocolPassword = {{ app.protocolPassword }}
{% endif %}

{% if 'protocolUsername' in app %}
protocolUsername = {{ app.protocolUsername }}
{% endif %}

{% if 'PSKidentity' in app %}
PSKidentity = {{ app.PSKidentity }}
{% endif %}

{% if 'PSKsecrets' in app %}
PSKsecrets = {{ app.PSKsecrets }}
{% endif %}

{% if 'pty' in app %}
pty = {{ app.pty }}
{% endif %}

{% if 'redirect' in app %}
redirect = {{ app.redirect }}
{% endif %}

{% if 'renegotiation' in app %}
renegotiation = {{ app.renegotiation }}
{% endif %}

{% if 'reset' in app %}
reset = {{ app.reset }}
{% endif %}

{% if 'retry' in app %}
retry = {{ app.retry }}
{% endif %}

{% if 'requireCert' in app %}
requireCert = {{ app.requireCert }}
{% endif %}

{% if 'setgid' in app %}
setgid = {{ app.setgid }}
{% endif %}

{% if 'setuid' in app %}
setuid = {{ app.setuid }}
{% endif %}

{% if 'sessionCacheSize' in app %}
sessionCacheSize = {{ app.sessionCacheSize }}
{% endif %}

{% if 'sessiond' in app %}
sessiond = {{ app.sessiond }}
{% endif %}

{% if 'sni' in app %}
sni = {{ app.sni }}
{% endif %}

{% if 'sslVersion' in app %}
sslVersion = {{ app.sslVersion }}
{% endif %}

{% if 'stack' in app %}
stack = {{ app.stack }}
{% endif %}

{% if 'TIMEOUTbusy' in app %}
TIMEOUTbusy = {{ app.TIMEOUTbusy }}
{% endif %}

{% if 'TIMEOUTclose' in app %}
TIMEOUTclose = {{ app.TIMEOUTclose }}
{% endif %}

{% if 'TIMEOUTconnect' in app %}
TIMEOUTconnect = {{ app.TIMEOUTconnect }}
{% endif %}

{% if 'TIMEOUTidle' in app %}
TIMEOUTidle = {{ app.TIMEOUTidle }}
{% endif %}

{% if 'transparent' in app %}
transparent = {{ app.transparent }}
{% endif %}

{% if 'verifyChain' in app %}
verifyChain = {{ app.verifyChain }}
{% endif %}

{% if 'verifyPeer' in app %}
verifyPeer = {{ app.verifyPeer }}
{% endif %}

{% endfor %}
